<h2>メンバーのページ</h2>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @team.grouping_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%#= link_to "削除する", team_grouping_path(@team, @team.groupings), method: :delete, class: "btn btn-danger" %></td>
        <td><%= link_to "削除する", team_grouping_path(@team, @team.groupings.ids), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%#= link_to 'メンバー登録', groupings_new_path(@team) %>
<%= link_to 'メンバー登録', new_team_grouping_path(@team) %>